<div class="row mb-4">
  <div class="col-md-6 offset-md-3">
    <%= render "users/user", user: @user %>
  </div>
</div>

<div class="row mb-2">
  <div class="col-md-6 offset-md-3">
    <%= render "users/profile_nav", user: @user %>
  </div>
</div>

<% @user.liked_photos.each do |photo| %>
  <div class="row mb-4">
    <div class="col-md-6 offset-md-3">
      <% if ( current_user.accepted_sent_follow_requests.find_by(recipient_id: @user.id) != nil || !@user.private? ) || current_user == @user %>
        <%= render "photos/photo", photo: photo %>
      <% end %>
    </div>
  </div>
<% end %>
